<main class="flex justify-center items-center w-full h-full">
  <div class="flex flex-col items-center justify-center dark:bg-neutral-800 rounded-md p-5">
    <div>
      @for (error of errorMessages; track $index) {
      <div class="border rounded-md border-red-600 dark:text-red-400 text-red-800 px-3 py-1">
        {{ error }}
      </div>
      }
    </div>
    <span class="text-2xl dark:text-neutral-300 text-neutral-800 my-3"
      >Invitation Link From
      <span class="dark:text-neutral-50 font-semibold">{{ response?.inviterName }}</span></span
    >
    <p class="text-base dark:text-neutral-400">
      You have received an invitation link to the
      <span class="text-neutral-800 font-semibold dark:text-neutral-50">{{
        response?.serverName
      }}</span>
      server from
      <span class="text-neutral-800 font-semibold dark:text-neutral-50">{{
        response?.inviterName
      }}</span
      >.
    </p>
    <div>
      <button
        class="w-full py-3 px-5 bg-gradient-to-r from-indigo-500 to-purple-600 hover:from-indigo-400 hover:to-purple-500 text-white rounded-lg font-semibold"
        (click)="joinServer()"
      >
        Join Server
      </button>
    </div>
  </div>
</main>
