<main class="w-full h-full flex justify-center items-center">
  <form
    class="w-full max-w-xl mx-auto bg-neutral-900/30 p-10 rounded-xl"
    (ngSubmit)="login()"
  >
    <h1
      class="w-full py-5 text-3xl dark:text-gray-200 font-semibold text-center"
    >
      Login
    </h1>
    <div class="mb-5">
      <label
        for="emailOrUsername"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Email or username</label
      >
      <input
        type="text"
        id="emailOrUsername"
        name="emailOrUsername"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg outline-none border-none dark:bg-neutral-700 dark:text-gray-200 block w-full p-2.5"
        required
        [(ngModel)]="loginReq.UserNameOrEmail"
      />
    </div>
    <div class="mb-5">
      <label
        for="password"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Password</label
      >
      <input
        type="password"
        id="password"
        name="password"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg outline-none border-none dark:bg-neutral-700 dark:text-gray-200 block w-full p-2.5"
        required
        [(ngModel)]="loginReq.Password"
      />
    </div>
    <div class="my-3">
      <label
        class="text-sm font-medium text-gray-900 dark:text-gray-300 hover:border-b cursor-pointer"
        [routerLink]="['/auth', 'register']"
        >Do you have an account?</label
      >
    </div>
    <div class="flex items-start mb-5">
      <div class="flex items-center h-5">
        <input
          id="remember"
          type="checkbox"
          value=""
          name="remember"
          class="w-4 h-4 border border-gray-300 rounded-sm bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
          required
          [(ngModel)]="loginReq.RememberMe"
        />
      </div>

      <label
        for="remember"
        class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >Remember me</label
      >
    </div>
    <button
      type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      @if(isLoading){ Loading }@else{ Login }
    </button>
  </form>
</main>
