<div class="dark:bg-gray-900 bg-gray-50 rounded-lg flex flex-col w-[100dvw] md:w-[40dvw] pb-10">
  <div class="flex justify-end">
    <button class="cursor-pointer">
      <svg
        class="size-10"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        (click)="onClose()"
      >
        <path
          opacity="0.5"
          d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z"
          class="dark:fill-gray-600/40"
        />
        <path
          d="M8.96967 8.96967C9.26256 8.67678 9.73744 8.67678 10.0303 8.96967L12 10.9394L13.9697 8.96969C14.2626 8.6768 14.7374 8.6768 15.0303 8.96969C15.3232 9.26258 15.3232 9.73746 15.0303 10.0304L13.0607 12L15.0303 13.9696C15.3232 14.2625 15.3232 14.7374 15.0303 15.0303C14.7374 15.3232 14.2625 15.3232 13.9696 15.0303L12 13.0607L10.0304 15.0303C9.73746 15.3232 9.26258 15.3232 8.96969 15.0303C8.6768 14.7374 8.6768 14.2626 8.96969 13.9697L10.9394 12L8.96967 10.0303C8.67678 9.73744 8.67678 9.26256 8.96967 8.96967Z"
          class="dark:fill-gray-400"
        />
      </svg>
    </button>
  </div>
  <div class="flex flex-col mx-10">
    <span class="font-semibold dark:text-gray-200 text-2xl">Create a new role</span>
    <p class="text-sm dark:text-gray-500 mt-3">Create a new role for your server</p>
  </div>
  <div class="flex flex-col mx-10 mt-5">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="flex flex-col">
        <label for="name" class="dark:text-gray-400 text-sm select-none">Role Name</label>
        <input
          id="name"
          formControlName="name"
          type="text"
          class="bg-transparent border rounded-md px-1.5 py-2 dark:border-gray-800 dark:text-gray-200 outline-none focus:border-indigo-700 my-1"
        />
      </div>

      <div
        class="flex flex-col mt-5 w-full text-gray-800 dark:text-gray-100 text-sm cursor-default"
      >
        <span class="dark:text-gray-400 mb-4 text-base select-none">Permissions</span>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-5 gap-y-2">
          @for (permission of permissionsList; track $index) {
          <label class="flex items-center">
            <input
              type="checkbox"
              class="accent-indigo-700 mr-2"
              [value]="permission"
              [checked]="isPermissionChecked(permission)"
              (change)="onPermissionChange($event)"
            />
            {{ permission }}
          </label>
          }
        </div>
      </div>

      <div class="flex flex-row justify-end mt-3 items-center">
        <button
          type="button"
          class="dark:text-gray-400 text-gray-700 dark:bg-gray-800 bg-gray-50 border rounded-md dark:border-gray-700 border-gray-400 py-3 px-3 w-fit text-sm"
          (click)="onClose()"
        >
          Close
        </button>
        <button class="bg-indigo-700 rounded-md py-3 px-3 w-fit mx-2 text-sm text-gray-100">
          Save Changes
        </button>
      </div>
    </form>
  </div>
</div>
