<div class="w-full h-full flex dark:bg-neutral-900 items-center">
  <ul
    [ngClass]="{ 'w-0 ': !isListExpanded, 'w-48': isListExpanded }"
    class="bg-base-200 h-full overflow-y-auto overflow-x-hidden transition-all duration-500 ease-in-out [&::-webkit-scrollbar]:w-1.5 [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-800 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:rounded-sm"
  >
    <li class="text-xl font-semibold p-3 dark:text-stone-200">Chats</li>
    @for(chat of chats;track chat.id){
    <li
      class="flex flex-row justify-between group p-2 mx-4 my-2 rounded-md dark:hover:bg-neutral-700 cursor-pointer dark:text-stone-300"
      (click)="setCurrentChat(chat)"
    >
      {{ chat.name }}
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="stroke-1 size-6 stroke-stone-700 dark:stroke-gray-400 hover:stroke-stone-900 dark:hover:stroke-white hidden group-hover:block"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M10.5 6h9.75M10.5 6a1.5 1.5 0 1 1-3 0m3 0a1.5 1.5 0 1 0-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-9.75 0h9.75"
        />
      </svg>
    </li>
    }
  </ul>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    [ngClass]="{ 'rotate-180': isListExpanded }"
    class="size-6 fill-none stroke-white stroke-2 cursor-pointer rotate-180 select-none"
    viewBox="0 0 24 24"
    (click)="toggleListExpanded()"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="m8.25 4.5 7.5 7.5-7.5 7.5"
    />
  </svg>
</div>
